@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: "DM Sans", "system-ui", "sans-serif";
    --default-font-family:
        "DM Sans", "ui-sans-serif", "system-ui", "sans-serif",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-title: "Inter";
}

/* This p styling below is meant to get the font "DM Sans" detected by NuxtFonts module */
p {
    font-family: "DM Sans";
}
